<div class="w-full mx-auto px-10 py-10">
  <div class="flex items-center justify-between">
    <div class=" mx-auto">
      <form class="w-[400px] flex flex-col justify-center" (ngSubmit)="onRegister()">
        <h1 class="text-[44px] text-center font-normal text-black">Welcome to the blog</h1>
        <p class="font-normal text-lg text-lightBlack text-center">Create your Beauty blog account</p>
        <div class="flex flex-col mt-8">
          <input placeholder="Your name" type="name" id="name" [(ngModel)]="name" name="name" required class="px-6 py-[19px] rounded-[58px] border border-lightGrey">
          <input placeholder="Email address" type="email" id="email" [(ngModel)]="email" name="email" required class="px-6 py-[19px] mt-4 rounded-[58px] border border-lightGrey">
          <input placeholder="Create password" type="password" id="password" [(ngModel)]="password" name="password" required class="px-6 mt-4 py-[19px] rounded-[58px] border border-lightGrey">

          <button type="submit" class="bg-btnColor text-white max-w-[400px] w-full mt-8 h-[56px] rounded-[80px] flex items-center justify-center cursor-pointer">Sign up</button>
          <div class="flex items-center gap-x-1 mt-5 mx-auto
"><p class="text-lg text-lightBlack">Already have account?</p> <a class="text-btnColor text-lg font-normal" href="/login">Sign in now</a></div>
        </div>
      </form>
    </div>

    <div class="max-w-[900px] w-full">
      <img src="/assets/images/main.png" alt="Main Image" class="w-full h-auto rounded-lg">
    </div>
  </div>
</div>
